In [1]:
print('Hello')

Hello

In [2]:
1.0

1.0

In [3]:
type(1.0)

float

In [4]:
2**4

16

In [10]:
num=12
name='Sam'
print("My number is {} and my name is {}".format(num,name))

My number is 12 and my name is Sam

In [12]:
s="abcdefghijkl"

In [17]:
s[:5]
s[3:8]

'defgh'

In [18]:
my_list=[1,2,3,4]

In [19]:
my_list.append(5)

In [20]:
my_list

[1, 2, 3, 4, 5]

#part2

In [28]:
d={'a1':{'k1':[1,2,3]},'a2':4}
d['a1']

{'k1': [1, 2, 3]}

In [30]:
tup=('1','2','3')
tup[1]='4'

TypeError: 'tuple' object does not support item assignment

In [31]:
1<2

True

In [32]:
2<=2

True

In [34]:
2==2

True

In [35]:
1!=1

False

In [40]:
'hi'=='hi'or 1>2

True

In [42]:
if 4>3:
    print("not true")

not true

In [44]:
if 1>3:
    print("not true")
elif 4>3:
    print('yes')
else:
    print('true')

yes

In [46]:
seq=[1,2,3,4]

In [54]:
for item in seq:
    print(item**item)

1
4
27
256

In [55]:
i=1
while i<5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [56]:
range(0,2)

range(0, 2)

In [58]:
x=[1,2,3,4]

In [59]:
out=[]

In [60]:
for num in x:
    out.append(num*2)

In [61]:
out

[2, 4, 6, 8]

In [63]:
out=[num*2 for num in x]

In [64]:
out

[2, 4, 6, 8]

In [74]:
def my_func(name):
    print('hello ' + name)

In [75]:
my_func('jilu')

hello jilu

In [76]:
my_func('Jennis')

hello Jennis

In [82]:
def square(number):
    return number**2
output=square(2)
output

4

# part4

In [83]:
seq

[1, 2, 3, 4]

In [85]:
list(map(square,seq))

[1, 4, 9, 16]

In [89]:
list(map((lambda numb:numb*3),seq))

[3, 6, 9, 12]

In [94]:
list(filter(lambda numb:numb%2==0,seq))

[2, 4]

In [95]:
x=[(1,2),(3,4),(5,6)]

In [96]:
for a,b in x:
    print(b)

2
4
6